# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/

# Dataset files
data/cleaned_covid_data.parquet
data/compact.csv.gz
data/compact.csv
!data/compact_sample.csv
!data/cleaned_covid_data_sample.parquet
*.csv
*.xlsx
!data/compact_sample.csv

# Model files
*.pkl
*.joblib
!models/*.joblib

# Environment variables
.env

# Mac/Linux system files
.DS_Store

# VS Code
.vscode/

# Pytest cache
.pytest_cache/

# Deployment logs
logs-*.txt

# Regenerable notebook exports
docs/*.html

# Documents
*.docx
*.pdf
*.doc
*.wpf
